$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

body{
	margin:auto;
	background-color: #F9FAF4;
	font-family: Sans-serif;

}

.top-actions {
	
	.container{
		display: flex;
		justify-content: center;
		padding: 40px 0px 40px 0px;
	}
	.top-menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 75%;
		a:hover {
			background-color: #E6C500;
			border: 10px solid #E6C500;
			border-radius: 5px;
			color: white !important;
		}
		.top-logo {
			background-color: #ccc;
			width:18%;
			text-align: center;
			padding:5px;
			border-radius: 7px;
		}
		.top-ul-list{
			margin-bottom: 0rem;
			display: flex;
			width: 410px;
			justify-content: space-around;
			text-decoration: none;
			list-style: none;
		}
	}
}

.main{
	display: flex;
	justify-content: center;
	h1{
		padding:20px;
		font-weight: initial;
	}
	.container {
		width: 80%;
		background-color: white;
		box-shadow: 0px 0px 10px #9b9b90;
		padding: 0px;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		justify-content: space-between;
		@media(max-width: $mediaMinWidth){
			width: 100%;
		}
		.featured-book{
			display: flex;
			position: relative;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px;
			background-color: antiquewhite;
		
			.recommended{
				display: inline;
				position: absolute;
				top: 0;
				right: 0;
				background-color: #F4BE02;
				border: 10px solid #F4BE02;
				border-bottom-left-radius: 15px;
				color: white;

			}
			img{
				margin:10px;
				box-shadow: 0px 0px 10px 0px #c1c1c1;
				border-radius: 15px;
			}
			.book-info{
				margin:10px;
			}
		}

		.top-voted{
			h2{
				font-weight: bold;
				padding:20px;
			}
			.books-list{
				display: flex;
				@media(max-width: $mediaBp1Width){
					flex-wrap: wrap;
				}
				
				.book {
						position: relative;
						padding-top:10px;
						margin: 3%;
						background-color: antiquewhite;
						border-radius: 5px;
						display: flex;
						flex-direction: column;
						align-items: center;
					span{
						position: absolute;
						right: 10;
						border: 3.5px solid #D5C743;
						border-radius: 50%;
						padding-left: 10px;
						padding-right: 10px;
						padding-top: 5px;
						padding-bottom: 5px;
						color: #D5C743;
						font-size: 23px;
					}
					img{
						width:200px;
						box-shadow: 0px 0px 10px 0px #c1c1c1;
						border-radius: 10px;
					}

					.book-info{
						padding: 15px;
					}
				}
			}

		}
		
	}
}

footer{
	background-color: #28292A;
	padding-bottom: 1px;
	position: sticky;
	bottom: 0;
	.container{
		display: flex;
		justify-content: center;
		nav{
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				li{
					float: left;
					color: white;
					padding:10px;
					padding-left: 70px;
				}
			}
		}
	}
}