body {
  margin: auto;
  background-color: #F9FAF4;
  font-family: Sans-serif;
}

.top-actions .container {
  display: flex;
  justify-content: center;
  padding: 40px 0px 40px 0px;
}
.top-actions .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
.top-actions .top-menu a:hover {
  background-color: #E6C500;
  border: 10px solid #E6C500;
  border-radius: 5px;
  color: white !important;
}
.top-actions .top-menu .top-logo {
  background-color: #ccc;
  width: 149px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
}
.top-actions .top-menu .top-ul-list {
  margin-bottom: 0rem;
  display: flex;
  width: 410px;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}

.main {
  display: flex;
  justify-content: center;
}
.main h1 {
  padding: 20px;
  font-weight: initial;
}
.main .container {
  width: 70%;
  background-color: white;
  box-shadow: 0px 0px 10px #9b9b90;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .main .container {
    width: 100%;
  }
}
.main .container .featured-book {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F9FAF4;
}
.main .container .featured-book .recommended {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F4BE02;
  border: 10px solid #F4BE02;
  border-bottom-left-radius: 15px;
  color: white;
}
.main .container .featured-book img {
  margin: 10px;
  box-shadow: 0px 0px 10px 0px #c1c1c1;
  border-radius: 15px;
}
.main .container .featured-book .book-info {
  margin: 10px;
}
.main .container .top-voted {
  display: grid;
  justify-items: center;
  position: relative;
}
.main .container .top-voted h2 {
  position: absolute;
  left: 50px;
  top: 10px;
  font-weight: bold;
}
.main .container .top-voted .books-list {
  display: grid;
  margin-top: 6rem;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 2rem;
  width: 95%;
}
.main .container .top-voted .books-list .book {
  position: relative;
  padding-top: 2%;
  background-color: #F9FAF4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .container .top-voted .books-list .book span {
  position: absolute;
  right: 10;
  top: 15px;
  border: 3.5px solid #D5C743;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #D5C743;
  font-size: 23px;
}
.main .container .top-voted .books-list .book img {
  width: 200px;
  box-shadow: 0px 0px 10px 0px #c1c1c1;
  border-radius: 10px;
}
.main .container .top-voted .books-list .book .book-info {
  padding: 15px;
}
.main .container .top-voted .books-list .book .book-info .title {
  margin-bottom: 5px;
}

footer {
  background-color: #28292A;
  padding-bottom: 1px;
  position: sticky;
  bottom: 0;
}
footer .container {
  display: flex;
  justify-content: center;
}
footer .container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer .container nav ul li {
  float: left;
  color: white;
  padding: 10px;
  padding-left: 70px;
}

/*# sourceMappingURL=styles.css.map */
